<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeptunoNet2023.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NeptunoNet2023.Windows.Properties.Settings>
            <setting name="MiConexion" serializeAs="String">
                <value>Server=.; Database=NeptunoFer2023; Trusted_Connection=true;</value>
            </setting>
        </NeptunoNet2023.Windows.Properties.Settings>
    </applicationSettings>
</configuration>